@import "compass/css3";
@import "mixin";

.main {
    position: relative;
    font-size: 27px;
}
.content {
	position: relative;
    font-size: 0;
	p {
		position: absolute;
		font-size: 27px;
	}
	.w1 {
	    position: absolute;
        top: 190px;
	    left: 247px;
	}
	.w2 {
	    position: absolute;
	    top: 338px;
	    left: 247px;
	}
	.w3 {
	    position: absolute;
	    top: 486px;
	    left: 247px;
	}
}
