@import "mixin";
@import "extend";
a {
	display: block;
	width: 100%;
	height: 100%;
	&:focus {
		outline: none;
	}
}
b {
    position: absolute;
    left: 0;
    top: 0;
	font-weight: normal;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background: #028E7C;
	// background: #963;
}
.wrap {
	position: relative;
	width: 640px;
	margin: 0 auto;
	// background: url(../images/bg-all.jpg) center 0 no-repeat;
	overflow: hidden;
}
.logo {

}
.indent {
	@extend %indent;
}
.nav {
	font-size: 0;
	background: #FFF;
	border-bottom: 3px solid #028E7C;
    li {
    	display: inline-block;
    	width: 140px;
    	height: 80px;
    	background: url(../images/m-bt-menu.png);
	    vertical-align: top;
	    &~li {
	    	// border-left: 1px solid #028E7C;
	    }
    }	
    .logo {
    	width: 220px;
    	height: 80px;
    	background: url(../images/m-logo.gif) 50% 50% no-repeat;
    }
    .index-btn {
    	background-position: -218px 0;
		&:hover {
    		background-position: -218px -84px;
    	}
    	&.active {
    		background-position: -218px -84px;
    	}
    }
    .activity-btn {
		background-position: -358px 0;
		&:hover {
    		background-position: -358px -84px;
    	}
    	&.active {
    		background-position: -358px -84px;
    	}
    }
    .award-btn {
		background-position: -499px 0;
		&:hover {
    		background-position: -499px -84px;
    	}
    	&.active {
    		background-position: -499px -84px;
    	}
    }
}
.scrollTop-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 0;
}
.notes-controller {
	position: relative;
	width: 100%;
	height: 65px;
	margin-top: -3px;
	background: url(../images/m-bg-note.png);
    background-position: 0 -1px;
	span {
		width: 165px;
		height: 30px;
		background: url(../images/m-note-control-txt.png) 0 0;
		@include align();
	}
}
.notes {
	display: none;
	position: relative;
	margin-top: -5px;
	// height: 470px;
	background: url(../images/bg-note-content.png);
	.notes-content {
		position: relative;
		width: 568px;
		// height: 425px;
		margin: 0 auto;
		// font-size: 23px;
		color: #FFF;
		padding-left: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		list-style-type: decimal;
	    line-height: 1.7;
	    text-align: justify;
	}
}
.footer {
	position: relative;
	// height: 97px;
	font-size: 20px;
	text-align: center;
	color: #FFF;
	margin-top: -5px;
    padding: 19px 0px;
	background: url(../images/m-bg-copyright.png);
	ul {
	    // width: 710px;
	    // height: 48px;
		// @include align();
	}
	li {
		&~li {
		    margin-top: 3px;
		}
	}
	a {
		display: inline-block;
		width: auto;
		color: #FFF;
	}
}