@import "compass/css3";
@import "mixin";

.main {
    position: relative;
    // width: 1100px;
    height: 1619px;
    // font-size: 23px;
    background: url(../images/m-kv-index.jpg);
    .award-one {
    	position: absolute;
	    top: 765px;
	    left: 30px;
	    li {
	    	position: relative;
	    	padding-left: 21px;
	    }
    	span {
    		font-size: 32px;
    		color: #c91216;
    		font-weight: 700;
    	}
    	.padding {
		    width: 564px;
		    text-align: justify;
		}
    }
    .award-two {
	    position: absolute;
        top: 1113px;
	    left: 30px;
	    span {
    		font-size: 32px;
    		color: #c91216;
    		font-weight: 700;
    	}
    	&.padding {
		    width: 390px;
		    text-align: justify;
		}
    }
    .explain {
    	position: absolute;
        top: 1310px;
	    left: 47px;
	    width: 542px;
	    li {
	    	position: relative;
	    	padding-left: 14px;
	    	text-align: justify;
	    }
	    b {
	    	top: 3px;
	    }
    }
}
.slider {
    position: absolute;
    top: 156px;
    left: 344px;
    .slider-content {
		li {
			position: absolute;
			top: 0;
			left: 0;
			&~li {
				display: none;
			}
		}
    }
	.btn {
		position: absolute;
		width: 42px;
		height: 62px;
	}
	.prev-btn {
	    top: 235px;
	    left: 12px;
		background: url(../images/m-bt-phone-left.png);
	}
	.next-btn {
	    top: 266px;
	    left: 204px;
		background: url(../images/m-bt-phone-right.png);
	}
}
